<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRCODE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="main">
        <h2><span class="qr">QR</span>CODE Generator</h2>
        <figure>
            <img src=<%=src%> alt="QRcode" width="200px">
            <figcaption>Scan to access your url or  click on <a href=<%=src%> download>Download</a> to share.</figcaption>
        </figure>
        <a class="btn" href="/" type="button">Back</a>
    </main>
    <footer>
        <p>Made by <a href="https://st-pardon.netlify.app">St Pardon</a> &copy; 2023</p>
    </footer>
</body>
</html>